body,div,span,input,form,p,img{margin:0;padding:0;}

.main{
    width: 750px;
    height: 1334px;
    position: relative;
    background:url(images/tel-bg1.jpg) no-repeat;
    margin: auto;
}
form{
    width: 556px;
    position: absolute;
    left: 100px;
    top:800px;}

.div1,.div2,.div3{
    width:556px;
    height: 95px;
    padding: 2px;
    margin: 0 auto;
    border-bottom: solid gray;
    position: relative;
    }
.div3 input{  width: 200px;}

/*定位输入框跟图片的位置*/
.div1 img,.div2 img{
    position: absolute;left: 1px;
    bottom:15px;}
.div1 input,.div2 input{    position: absolute;left: 50px;
    bottom:8px;}
form input{line-height: 40px;font-size: 24px;color: white;
    margin-top: 30px;
    padding-bottom:5px;
    background:transparent;border:0; }

/*验证码*/
#yanzheng{
    width: 228px;
    height: 92px;
    color:blue;
    margin: 3px auto;
    float:right;
    background: url("images/yzm-bg.png") no-repeat;
}
#submit{
    width: 556px;
    height: 118px;
    font-size: 50px;
    font-weight: bold;
    color:blue;
    margin: 15px auto;
    background: url("images/tj-btn.png") no-repeat;
}